.slider .slides li .caption, .text-slider
{
    color: black;
    text-shadow: 1px 1px 5px black;
}

.slider.fullscreen
{
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.minhacor
{
    color: deepskyblue;
}
.slider .slides li .caption
{
    top: 40%;
}
.espacamento
{
    margin-top: 95vh;
}

.btn:hover, .btn:hover {
    background-color: blueviolet;
}

.btn, .btn-large{
    background-color: darkblue;
}

.equipe{
    padding-bottom: 25px;
}
.card .card-image .card-title{
    color: darkblue;
    
}